@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Estonia&family=Special+Elite&family=UnifrakturMaguntia&display=swap');

body{
  font-family: 'Averia Libre', serif;
  font-weight: 400;  
}

h1, h2, h3, h4 {
  font-family: "Special Elite";
  font-weight: 700;
  font-style: normal;
}

tr:nth-child(even) td{
  background-color: darken($grey-dk-300, 10%);
}

th, td {
  min-width: initial;
  padding-top: .35rem;
  padding-bottom: .35rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

td {
  border-bottom: 0;
  border-left: 0;
}

thead{
  display: none;
}

tbody tr:last-of-type td{
  padding-bottom: .35rem;
}

.nav-list .nav-list-item .nav-list-link {
font-size: 1rem;
}
